@page "/"
@namespace BlazorAuth.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BlazorAuth.Pages.HostModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>BlazorAuth</title>
    <base href="~/"/>
</head>
<body>

<button type="submit" onclick="LogIn()">Log in</button>
<button type="submit" onclick="LogOut()">Log out</button>

<app>
    @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
</app>

<script>
function LogIn(){
    window.location.reload();
    window.location.href = "/?LogIn=true&RedirectUri=https://localhost:5001/";
}
function LogOut(){
    window.location.reload();
    window.location.href = "/?LogOut=true&RedirectUri=https://localhost:5001/";
} 
</script>

<script src="_framework/blazor.server.js"></script>
</body>
</html>