trigger:
- master
- dev
- aspnetcore3
- features/*


jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: DotNetCoreInstaller@0
    inputs:
      version: 3.0.100-preview3-010431
  - task: Bash@3
    displayName: 'Bash Script'
    inputs:
      targetType: filePath
      filePath: ./build.sh
- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - task: DotNetCoreInstaller@0
    inputs:
      version: 3.0.100-preview3-010431
  - task: PowerShell@2
    inputs:
      targetType: filePath
      filePath: ./build.ps1  
