trigger:
- master
- features/*

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - task: Bash@3
    displayName: 'Build Script'
    inputs:
      targetType: filePath
      filePath: ./build.sh

- job: Windows
  pool:
    vmImage: 'windows-2019'
  steps:
  - task: PowerShell@2
    displayName: 'Build Script'
    inputs:
      targetType: filePath
      filePath: ./build.ps1  
  - task: NuGetCommand@2
    displayName: 'MyGet push'
    inputs:
      command: push
      packagesToPush: 'nuget/*.nupkg'
      nuGetFeedType: external
      publishFeedCredentials: 'MyGet'
      condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))