@model LoginViewModel

<div class="login-page">
  <div class="page-header">
    <h1>Login</h1>
  </div>

  <partial name="_ValidationSummary" />
  <hr />
  <div class="row">

    @if (Model.EnableLocalLogin)
    {
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Local Login</h3>
        </div>
        <div class="card-body">
          <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl">
            <fieldset>
              <div class="form-group">
                <label asp-for="Username"></label>
                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
              </div>
              <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password"
                  autocomplete="off">
              </div>
              @if (Model.AllowRememberLogin)
              {
              <div class="form-group login-remember custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" asp-for="RememberLogin" />
                <label class="custom-control-label" asp-for="RememberLogin">
                  <strong>Remember My Login</strong>
                </label>
              </div>
              }
              <div class="form-group">
                <button class="btn btn-primary" name="button" value="login">Login</button>
                <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    }

    @if (Model.VisibleExternalProviders.Any())
    {
    <div class="col-lg-6 col-md-6 external-providers">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">External Login</h3>
        </div>
        <div class="card-body">
          <ul class="list-inline">
            @foreach (var provider in Model.VisibleExternalProviders)
            {
            <li class="list-inline-item">
              <a class="btn btn-outline-secondary" asp-controller="External" asp-action="Challenge"
                asp-route-provider="@provider.AuthenticationScheme" asp-route-returnurl="@Model.ReturnUrl">
                @provider.DisplayName
              </a>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
    }

    @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
    {
    <div class="alert alert-warning">
      <strong>Invalid login request</strong>
      There are no login schemes configured for this client.
    </div>
    }
  </div>
</div>