<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Github-bornlogic" value="https://nuget.pkg.github.com/bornlogic/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Github-bornlogic>
      <add key="Username" value="%GPR_USERNAME%" />
      <add key="ClearTextPassword" value="%GPR_TOKEN%" />
    </Github-bornlogic>
  </packageSourceCredentials>
</configuration>
