@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />