@model Host.UI.Logout.LoggedOutViewModel

<div class="page-header">
    <h1>
        Logout
        <small>You are now logged out</small>
    </h1>

    @if (Model != null)
    {
        <div hide-if-null="Model.PostLogoutRedirectUri">
            Click <a href="@Model.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.ClientName</span> application.
        </div>

        <iframe style="display:none" width="0" height="0" hide-if-null="Model.SignOutIframeUrl" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
