@model Host.UI.Logout.LoggedOutViewModel

<div class="page-header">
    <h1>
        Logout
        <small>You are now logged out</small>
    </h1>

    @if (Model.ReturnInfo != null)
    {
        <div>
            Click <a href="@Model.ReturnInfo.Uri">here</a> to return to the
            <span>@Model.ClientName</span> application.
        </div>
    }

    @foreach (var url in Model.SignOutIFrameUrls)
    {
        <iframe class="signout" src="@url"></iframe>
    }
</div>
