@inherits LayoutComponentBase
@inject NavigationManager navManager
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
                <a href="LogOut">Log out</a>
            </Authorized>
            <NotAuthorized>
                <a href="Identity/Account/Register">Register</a>
                <a href="Login?RedirectUri=@(navManager.Uri)">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

