@model string

<div>
    <div class="page-header">
        <h1>User Code</h1>
    </div>
    <p>
        Please enter the code displayed on your device
    </p>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <form asp-action="UserCodeCapture">
                <fieldset>
                    <div class="form-group">
                        <label for="userCode">User Code:</label>
                        <input class="form-control" for="userCode" name="userCode" autofocus />
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" name="button">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
