@model Host.UI.Error.ErrorViewModel

@{
    var error_description = Model?.Error?.ErrorDescription ?? "Sorry, there was an unexpected error.";
    var error_code = Model?.Error?.ErrorCode;
    var request_id = Model?.Error?.RequestId;
}

<div class="error-page">
    <div class="page-header">
        <h1>Error</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                <strong hide-if-null="error_code">
                    <em>
                        @Model.Error.ErrorCode
                    </em>
                </strong>

                @error_description
            </div>

            <div hide-if-null="request_id" class="request-id">Request Id: @request_id</div>
        </div>
    </div>
</div>
